#sky {
  position: fixed;
  bottom: 0;
  top: 0;
  height: 100%;
  min-width: 100%;
  z-index: 0;
}

#sky.day {
  background: #dff1fb;
}

body:after {
  content: "";
}

#sky.night {
  background: #221250;
}

#sky.dusk {
  background: #994433;
}

* {
  padding: 0;
  margin: 0;
  font-family: '04b03';
}

#container{
  display: table;
  position: absolute;
  bottom: 0;
  top: 0;
  height: 100%;
  min-width: 100%;
  z-index: 11;

  background: transparent url('/static/images/hills.gif') bottom left repeat-x;
}

.tagline{
  font-family: '04b03'; 
  font-size: 24px;
  line-height: 36px;
}

.level{
  display: table-row;
  background: transparent url('/static/images/ground_big.png') bottom left repeat-x;
}

.button{
  display: inline-block;
  background: #cd3641;
  border: 2px solid #000;
  box-shadow: -2px -2px 0 0 #000;
  text-shadow: 1px 1px 0 #000;
  color: #fff;
  padding: 8px 16px;
  font-family: '04b03'; 
  font-size: 16px;
  text-decoration: none;
  margin: 8px;
}

.button.light{
  background: #aaa;
}

header, section{
  display: table-cell;
  position: relative;
  min-width: 1000px; /* tmp */
}

header{
  text-align: center;
  padding-top: 3%;
  min-width: 1000px;
}


header:before, section:before{
  position: absolute;
  width: 100%;
  height: 36px;
  bottom: 63px;
  background: transparent url('/static/images/grass.png') 0 90% repeat-x;
  content: "";
  z-index: 12;
}

section.explanation .graphic{
  box-sizing: border-box;
  padding: 115px 70px 100px 95px;
  width: 720px;
  height: 480px;
  color: #333;
  position: absolute;
  bottom: 99px;
  background: transparent url('/static/images/billboard.png') bottom left no-repeat;
  text-align: center;
}

section.explanation .graphic img{
  width: 300px;
}

section.videos:before{
  background-image: url('/static/images/sidewalk.png');
}

section.videos:after{
  position: absolute;
  width: 64px;
  height: 36px;
  left: 0;
  bottom: 63px;
  content: "";
  z-index: 12;
  background: transparent url('/static/images/grass_to_sidewalk.png') 0 90% no-repeat;
}

.video{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 15px 220px 55px 70px;
  width: 640px;
  height: 256px;
  color: #000;
  position: absolute;
  bottom: 99px;
  background: transparent url('/static/images/truck1.png') bottom left no-repeat;
  text-align: center;
  z-index: 9;
}

header .team{
  position: absolute;
  bottom: 83px;
  left: 30%;
  z-index: 13;
}

.cloud{
  position: relative;
  width: 100px;
  height: 60px;
  position: absolute;
  overflow: hidden;
  background: transparent url('/static/images/cloud.png') top left no-repeat;
}

.clouds{
  z-index: 1;
  position: absolute;
  overflow: hidden;
}

#alex{
  width: 150px;
  height: 160px;
  bottom: 140px;
  right: 15%;
  background: transparent url('/static/images/alex_flat_animated.gif') top left no-repeat;
  position: fixed;
  z-index: 13;
}

#alex:hover{
  background-image: url('/static/images/alex_jumping_animated.gif');
}

footer {
  color: #fff;
  text-shadow: 2px 2px 0 #000;
  font-family: '04b03';
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
}

#time-of-day {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  position: fixed;
  //pointer-events: none; // will not work in IE, Opera, works to allow click events
}

#time-of-day.day { }

#time-of-day.night {
  background-color: rgba(34, 18, 80, 0.2);
}

#time-of-day.dusk {
  background-color: rgba(153, 51, 34, 0.1);
}

#time-of-day-toggle {
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1000;
  background-color: #aaa;
}
