body {
  background: -moz-linear-gradient(top,  rgba(170,211,255,1) 0%, rgba(229,241,255,0.84) 16%, rgba(125,185,232,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(170,211,255,1)), color-stop(16%,rgba(229,241,255,0.84)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(170,211,255,1) 0%,rgba(229,241,255,0.84) 16%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(170,211,255,1) 0%,rgba(229,241,255,0.84) 16%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(170,211,255,1) 0%,rgba(229,241,255,0.84) 16%,rgba(125,185,232,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(170,211,255,1) 0%,rgba(229,241,255,0.84) 16%,rgba(125,185,232,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aad3ff', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}

.navbar .logo {
  margin-top: 30px;
  text-align: center;
}

.hero-unit {
  margin-top: -60px;
  border-radius: 0;
  background: none;
}

.hero-unit h1 {
  text-align: center;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 20px;
}

.hero-unit .explanation {
  text-align: center;
}

hr {
  height: 20px;
  background: url('../images/ground.png') bottom left repeat-x;
}

.benefits {
  list-style-type: none;
  margin-top: 40px;
}

.benefit {
  margin: 20px;
}

.benefit img {
  float: left;
  margin: 10px 15px 0 0;
}

.videos {
  margin-bottom: 2em;
}

.videos .span6 {
  text-align: center;
}

.videos iframe {
  width: 400px;
  height: 225px;
}

.players {
  margin-top: 30px;
}

.sign-up h3, h4 {
  text-align: center;
}

.sign-up p {
  text-align: center;
}

.sign-up form .controls {
  margin-left: 20px;
}

.sign-up form input[type='text'] {
  font-size: 20px;
  line-height: 28px;
  height: 28px;
}

footer {
  margin-top: 1em;
}